<div *ngIf="user">
    <label *ngIf="!wts">No working time recorded</label>
    <div *ngIf="wts">
        <table class="table"  >
            <thead>
              <tr>
                <th scope="col" sortable="project" >Project</th>
                <th scope="col" sortable="date" >Date</th>
                <th scope="col" sortable="duration" >Duration</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wt of wts; let index = index">
                    <th scope="row" *ngIf="wt.project">{{wt.project.name}}</th>
                    <td>{{wt.date}}</td>
                    <td>{{wt.duration}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
