<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong>
    </h3>
  </header>
  <strong>Your projects:</strong>
  <ul>
    <li
          class="list-group-item"
          *ngFor="let project of projects; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProject(project, i)"
        >
      {{ project.name }}
    </li>
  </ul>
</div>
<div class="col-md-6">
  <div *ngIf="currentProject.id">
    <h4>Project</h4>
    <div>
      <label><strong>Title:</strong></label> 
      {{ currentProject.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentProject.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentProject.published ? "Published" : "Pending" }}
    </div>
    <div>
      <label><strong>Worktime:</strong></label>
        <ul>
          <li class="list-group-item" 
              *ngFor="let time of projectWorktime; let i = index">
              Date: {{ time.date }}
              Duration: {{ time.duration }}H
            </li>
        </ul>
    </div>
    <button class="m-3 btn btn-sm btn-primary" (click)="open(content)">
      Edit a Worktime
    </button>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Worktime</h4>
      <button type="button" 
              class="close" 
              aria-label="Close" 
              (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="date">Date of the day: </label>
          <div class="input-group">
            <input id="date" 
                required 
                [(ngModel)]="dateChoose" 
                class="form-control" 
                placeholder="yyyy-mm-dd" 
                name="dateChoose" 
                ngbDatepicker #dp="ngbDatepicker"
              />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>  
        </div>
        <div class="form-group">
          <label for="duration">Duration: </label>
          <div class="input-group">
            <input class="form-control"
                id="duration" 
                required 
                [(ngModel)]="workTime.duration" 
                name="duration"
              /> 
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addWorktime()">Add a Worktime</button>
    </div>
  </ng-template>
  

<ng-template #loggedOut>
  Please login.
</ng-template>

